body{
    margin: 0;
    -webkit-text-size-adjust: 100%;
	line-height: 2em; 
}
h2,p{
    text-align: center;
}
h1{
    font-size: 30px;
    font-family:Source Code Pro;
    text-align: center;
    text-shadow: -1px 1px #bbb,-2px 2px #bbb ,-3px 3px #bbb ,-4px 4px #bbb , 
    -5px 5px #bbb,-6px 6px #bbb;
}
.aa ul{
    background-color: #0E0E52;
    margin: 0;
    padding: 4px;
    text-align: center;
    }
    .aa ul li{
        list-style-type: none;
        display: inline;
        margin: 0 8px;
        padding: 50px 0px;
    }
    .aa ul li a {
        color: #ffffff;
        text-decoration: none;
    }
    .aa ul li a:hover {
        color:#82c6ee;
        text-decoration:none;
    }
.contect img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
#profile {
    height: 250px;
    background-color:#449DD1;
    color: #ffffff;
}
#profile h2 {
    color:white;
}
article {
    padding: 32px 16px;
}
.inner {
    max-width: 900px;
    margin: 0 auto;
      
}
.inner img{
    width:200px;height:200px;
    border-radius:50em;
    /* background-color:black; */
    float: left;
    /* margin-right:20px; */
}
.inner p {
    margin: 0 0 1em;
}